.weather-box {
  border: 1px solid #ececed;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 700px;
  background-image: linear-gradient(to top, #81c7c7 0%, #330867 100%);
}

h1 {
  color: whitesmoke;
  font-family: Elsie;
  font-weight: 700;
  text-align: center;
  font-size: 37px;
  line-height: 100px;
  margin: 0;
}

.icon {
  display: block;
  margin: 0 auto;
}
.mini-icon {
  width: 30px;
  margin-top: -30px;
}

h2 {
  color: whitesmoke;
  font-family: Elsie;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 15px;
  margin: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
}

.search-place {
  margin-bottom: 10px;
  font-family: elsie;
  width: calc(100% - 300px);
  position: relative;
  right: -180px;
}

button {
  border: none;
  border-radius: 50px;
}

button :hover {
  cursor: wait;
}

.fa-search {
  color: silver;
}

.fa-search-location {
  color: silver;
}

.date-time {
  color: whitesmoke;
  font-family: elsie;
  font-weight: bold;
  right: 40px;
  font-size: 23px;
  margin-left: 10px;
  margin-right: 70px;
}

.description {
  color: whitesmoke;
  font-family: elsie;
  font-weight: bold;

  font-size: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.temp {
  color: whitesmoke;
  font-family: Elsie;
  font-weight: bold;
  font-size: 50px;
  margin-left: 60px;
  position: relative;
}

.units {
  font-family: elsie;
  color: lavender;
  font-size: 16px;
  margin-right: 50px;
}

units :hover {
  cursor: default;
  color: whitesmoke;
}

.conditions {
  color: whitesmoke;
  font-family: elsie;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}

.col-sm {
  color: whitesmoke;
  font-family: elsie;
  font-weight: bold;
  text-align: center;
  position: relative;
  right: -20px;
  margin-top: 10px;
}
.season-icon {
  display: block;
  margin: 0 auto;
  width: 570px;
  position: relative;
  right: -45px;
}

h5 {
  font-family: elsie;
  text-align: center;
  font-size: 12px;
}

.weather-box-wrapper {
  margin-bottom: 10px;
}
.link {
  color: rgb(134, 180, 180);
}
